%bg-primary-default {
  background-color: #1F75CB;
  color: #FFFFFF;
}

%bg-primary-hover {
  background-color: #1F75CB;
  color: #FFFFFF;
}

%bg-primary-active {
  background-color: #1F75CB;
  color: #FFFFFF;
}

%bg-primary-disabled {
  background-color: #1F75CB;
  color: #FFFFFF;
}

%bg-secondary-default {
  background-color: #FFFFFF;
  color: #1C1C1C;
}

%bg-secondary-hover {
  background-color: #ECECEF;
  color: #1C1C1C;
}

%bg-secondary-active {
  background-color: #DCDCDE;
  color: #1C1C1C;
}

%btn-border {
  border-radius: 4px;
}

%btn-padding {
  padding: 12px 16px;
}