$primary: #1C1C1C;
$secondary: #FFFFFF;
$disabled:  #8E8E8E;
$error: #EE4222;
$bronze: #9E6955;
$placeholder: #D9D9D9;

$border-default: rgba(0, 0, 0, 0.15);
$border-hover: rgba(18, 19, 22, 0.5);
$border-active: rgba(28, 28, 28, 1);
$border-error: rgba(238, 66, 34, 1);
$border-disabled: rgba(0, 0, 0, 0.15);
$border-bronze: rgba(158, 105, 85, 1);