.placeholder {
  padding: 24px 0;
  height: 100vh;
}

.placeholder__container {
  height: 100%;
}

.placeholder__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  @extend %btn-border;
}

.placeholder__button {
  @include font(14px, 400, 19px);
  @extend %bg-primary-default;
  @extend %btn-border;
  background-color: #1F75CB;
  color: #FFFFFF;
  border-radius: 4px;
  margin-top: 10px;
}