.kebab-btn {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  @extend %bg-secondary-default;
  border: 1px solid $border-default;
  @extend %btn-border;
  margin-right: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
   @extend %bg-secondary-hover;
    border: 1px solid $border-hover;
  }

  &:active {
    @extend %bg-secondary-active;
    border: 1px solid $border-active;
  }
}

.kebab-btn_active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  @extend %bg-secondary-active;
  border: 1px solid $border-active;
}

.kebab-btn__dropdown-menu {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  position: absolute;
  background: #FFFFFF;
  padding: 8px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  top: 54px;
  right: 16px;
}

.kebab-btn__dropdown-menu_active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;

  z-index: 5;
  display: flex;
}

.kebab-btn__dropdown-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.kebab-btn__dropdown-link {
  @include font(14px, 400, 19px);
  display: block;
  color: $primary;
  padding: 8px 16px;
}

.kebab-btn__dropdown-link_red {
  color: $error;
}