.kebab-btn {
  border-radius: 4px;
}

html,
*,
*::before,
*::after {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  min-width: 1024px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  background-color: #FFFFFF;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 1024;
  padding: 0 24px;
  margin: 0 auto;
}

.user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}

.kebab-btn {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-right: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.project-item {
  color: #1C1C1C;
  border-bottom: 1px solid #1C1C1C;
}

.project-item:hover .kebab-btn {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.project-item:hover .user-avatar,
.project-item:hover .project-item__body div:last-of-type {
  margin-right: 58px;
}

.project-item {
  padding-top: 10px;
}

.project-item__container {
  position: relative;
  padding: 0 16px;
}

.project-item__header {
  display: flex;
  justify-content: space-between;
}

.project-item__body {
  display: flex;
  gap: 16px;
  margin: 14px 0 8px;
}

.project-item__body div:last-of-type {
  flex-basis: 100%;
  text-align: end;
  transition: all 0.3s ease 0s;
}

.project-item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  white-space: nowrap;
  color: #8E8E8E;
}