// Подключение kebab-btn
@import '../../scss/kebab-btn/kebab-btn';

.project-item {
  color: $primary;
  border-bottom: 1px solid #1C1C1C;
  &:hover {
    .kebab-btn {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
    .user-avatar, .project-item__body div:last-of-type {
      margin-right: 58px;
    }
  }
}

.project-item {
  padding-top: 10px; ///
}

.project-item__container {
  position: relative;
  padding: 0 16px;
}

.project-item__header {
  display: flex;
  justify-content: space-between;
}

.project-item__body {
  display: flex;
  gap: 16px;
  margin: 14px 0 8px;
}

.project-item__body div:last-of-type {
  flex-basis: 100%;
  text-align: end;
  transition: all 0.3s ease 0s;
}

.project-item__text {
  @include font(14px, 400, 19px);
  white-space: nowrap;
  color: $disabled;
}