// Подключение переменных
@import './variables';
// Подключение миксинов
@import './mixins';
// Подключение расширений
@import './extensions';
// Подключение reset
@import './reset';
// Подключение стилей кнопки
@import './button/button';
// Подключение базовых настроек
@import './settings';

// Подключение стилей для navigation
@import '../components/navigation/style';
// Подключение стилей для placeholder
@import '../components/placeholder/style';
// Подключение стилей для project-item
@import '../components/project-item/style';
// Подключение стилей для task-item
@import '../components/task-item/style';